<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup_login.css') }}">
</head>
<body>
    <div class="glass-container login-container">
        <div class="login-box">
            <h2>Reset Password</h2>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="password-wrapper">
                    {{ form.password(class_="form-input", placeholder="New Password") }}
                    <span class="toggle-password" onclick="togglePassword(this)">&#128065;</span>
                </div>

                <div class="password-wrapper">
                    {{ form.confirm_password(class_="form-input", placeholder="Confirm Password") }}
                    <span class="toggle-password" onclick="togglePassword(this)">&#128065;</span>
                </div>
                
                <p class="guideline">Password must be at least 12 characters with uppercase, lowercase, numbers, and symbols.</p>
                {{ form.submit(class_="form-button") }}
                <p>Back to <a href="{{ url_for('routes.login') }}">Login</a></p>
            </form>
        </div>
    </div>

    <script>
    function togglePassword(element) {
        const input = element.previousElementSibling;
        if (input.type === "password") {
            input.type = "text";
            element.style.color = "#000"; 
        } else {
        input.type = "password";
        element.style.color = "#fff"; 
        }
    }
    </script>


</body>
</html>
